.container {
  display: grid;
  height: 100vh;
  grid: 3fr 14fr / auto-flow dense 4fr 2fr;
  grid-gap: 20px;

}

.grid-item {
  background-color: crimson;
}

.grid-item:nth-of-type(2) {
  grid-row: span 3;
}